proyecto_final/galeria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs :element name="galeria">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="arma" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="imagen" type="xs:string"/>
                            <xs:element name="categoria" type="xs:string"/>
                            <xs:element name="descripcion" type="xs:string"/>
                            <xs:element name="año" type="xs:gYear"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:schema>