pruebas/PRUEBA.XSD

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- Definiciones del esquema aquí -->
    <xs:element name="personas">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="persona" maxOccurs="unbounded">
            <xs:complexType>
                <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="edad" type="xs:string"/>
                </xs:sequence>
                <xs:attribute name="genero" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                    <xs:enumeration value="masculino"/>
                    <xs:enumeration value="femenino"/>
                    <xs:enumeration value="no binario"/>
                    </xs:restriction>
                </xs:simpleType>
                </xs:attribute>
            </xs:complexType>
            </xs:element>
        </xs:sequence>
        </xs:complexType>
</xs:schema>